body, html {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: #F55836;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100vh; 
    margin-top: 100px;
}

h1, h2, h3 {
    color: #F55836;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.wrapimg {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
}

.center_wrapped_text {
    text-align: left;
    margin-left: 80px;
}

#quote {
    color: orange;
    font-weight: bold;
    font-style: italic;
}

.calendar {
    width: 80%; 
    margin: 20px auto;
    background-color: white;
}

.day-names th {
    padding: 10px; 
    text-align: center; 
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.day-nums td {
    padding: 40px; 
    text-align: center; 
    font-size: 24px;
}

.calendar-button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.calendar-button:hover {
    background-color: #d4300b; 
}

.center > .calendar-title {
    margin-top: -35px;
}

.work {
    width: 500px;
    height: 350px;
    margin: 5px;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    float: right;
}

.navbar-line {
    border: 1px solid #F55836; 
    width: 50%;
    margin: 0 auto; 
}

.reminder-header, .timer-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    max-width: 600px; 
}
.timer-header h1{

        -webkit-text-stroke: 1px white;
        font-size: 40px;
   
}
#timer-display {
    -webkit-text-stroke: 1px white;
        font-size: 100px;
}

.add-reminder-button, .add-timer-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.add-notes-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.reminder-list {
    width: 80%;
    max-width: 600px;
    padding: 0;
}

.notes-list {
    width: 80%;
    max-width: 600px;
    padding: 0;
}

.notes-list li,
.reminder-list li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    word-wrap: break-word;  
    max-width: 100%;  
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.business-cite {
    position: absolute;
    right: 200px;
    top: 800px;
}

.notes-header, .reminder-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    max-width: 600px; 
    position: relative; 
}
.notes-header h1{
    -webkit-text-stroke: 1px white;
    font-size: 50px;
}

.reminder-header h1{
    -webkit-text-stroke: 1px white;
    font-size: 50px;
}

.note-container, .reminder-container {
    position: absolute; 
    top: 100%; 
    left: 365px;
    background: white; 
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none; 
    width: 100%;
    max-width: 300px;
    word-wrap: break-word;
}

.note-input, .reminder-input {
    width: 95%; 
    height: 100px; 
    padding: 8px;
    font-size: 14px;
}

.confirm-button {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.garbage-bin {
    display: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
}

.note-item:hover .garbage-bin {
    display: inline-block; 
    
}

.reminder-item:hover .garbage-bin {
    display: inline-block; 

}

.close-frame-button {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}


#addNoteButton {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#addReminderButton {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #F55836;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.frame-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.day-details-frame {
    display: none; /* Initially hidden */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    z-index: 1000;
}



.recycling-link {
    text-decoration: none; 
    position: absolute; 
    top: 10px; 
    left: 25px; 
}


.recycling-icon {
    font-size: 40px; 
    color: #F55836; 
    cursor: pointer;
}


.recycling-icon:hover {
    color: #d34d2e; 
}

.background {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://brandhause.com/wp-content/uploads/2021/04/Screen-Shot-2020-11-19-at-6.22.21-AM-1024x654.png') no-repeat center center/cover;
    filter: blur(8px); 
    z-index: -1;
}

.start-text {
    font-size: 100px;
    margin: 0px;
    -webkit-text-stroke: 2px white;
}

.start-desc {
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 1px #F55836;
    font-weight: bolder;
}

.about-background {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://high6.com/wp-content/uploads/2019/01/agenda-appointment-business-1020323.jpg') no-repeat center center/cover;
    filter: blur(8px); 
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 35%;
    z-index: -1;
}

.contact-background {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://media.istockphoto.com/id/1416021682/photo/email-message-communication-computer-user-work-with-a-client-mail-list.jpg?s=612x612&w=0&k=20&c=AZyM6Q_eCb-bMZ_qaruyN9jz17zyOAwtncX_BD7rXhI=') no-repeat center center/cover;
    filter: blur(8px); 
    z-index: -1;
}

.calendar-background {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://media.wired.com/photos/59095fcdd8c8646f38eef8af/3:2/w_1280%2Cc_limit/464783527.jpg') no-repeat center center/cover;
    filter: blur(8px); 
    z-index: -1;
}

.form-background {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.firstbeat.com/wp-content/uploads/2020/04/header-blog-8.4.20.png') no-repeat center center/cover;
    filter: blur(8px); 
    z-index: -1;
}
.about-page p{
    font-size: 25px;
    color: #F55836;
    -webkit-text-stroke: 0.5px white;
    font-weight: bolder;
}

.about-page li{
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 1px #F55836;
    font-weight: bolder;
}

.about-page h2{
    font-size: 45px;
    color: #F55836;
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
}


.about-page h3{
    font-size: 30px;
    color: #F55836;
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
}



.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.box {
    background-color: #FF5A36;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    color: white;
}
.box h2{
    text-align: center;
    color: white;
}
.locked-box {
    background-color: #ca482b;
    margin-left: 60px;
}



.achievement-item {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}






.comm-container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 250px;
    border-right: 2px solid #FF5A36;
    padding-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    background-color: #FF5A36;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    justify-content: space-between;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.user span{
    font-family: Arial, Helvetica, sans-serif;
}

.chat-box {
    flex-grow: 1;
    background-color: #D3D3D3;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-input {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.message-input input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
}

.message-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    color: #FF5A36;
}

.chat-icon {
    margin-left: auto;
    color: white;
    cursor: pointer;
}

.message {
    background-color: #FF5A36;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    max-width: 80%;
}


.community-footer {
    margin-top: 600px;
    color: white;
}


